@model IndexModel
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
    <h1 class="display-4">@Model.HeaderText</h1>
    <div class="solflex">
        @Html.Partial("SolutionV")

        @Html.Partial("SolutionA")
        <div class="solans">@Model.modelV.c</div>
        <div class="solans">@Model.modelA.boos</div>
    </div>

</body>
</html>
