@using THEgame.Models.Solutions
@using 
@model Solution1Model
<h4 class="titlesol">@ViewData["Title"]</h4>
<form asp-action="SendMessage" asp-controller="Solutions" class="locationcanvas">
    <img class="canvasimg" src="~/MG9Ebpiu5Bs.jpg" />
    <div class="canvasright">
        <a class="btn btn-light canvasbuttons" asp-area="" asp-controller="Solutions" asp-action="Solution2">Путь Героя</a>
        <div class="canvaslog">            
            
            <div>
                <input class="textsol" asp-for="Name" type="text" id="flex1">
                <button type="submit" style="float:right;" class="btn btn-warning">Отправить</button>
            </div>            
        </div>
        <div class="canvasppl">
            <span class="border-bottom">Игроки в этой локации</span>
            @foreach (UserModel country in ViewBag.Users)
            {
                <ul>
                    <li>@country.Name <span class="classicon" id="@country.Id" disabled="disabled" title="Пол: @country.Sex; Раса: @country.Race;">&#936;</span></li>
                </ul>
            }
        </div>
    </div>
</form>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        for (let i = 1; i <= 4; i++) {
            $("#" + i).tooltip();
        }
    });

</script>