@using THEgame.Models.Solutions
@model Solution1Model
@Html.HiddenFor(m => m.Temp)
<h4 class="titlesol">@ViewData["Title"]</h4>
<form asp-action="SendMessage" asp-controller="Solutions" class="locationcanvas">
    <img class="canvasimg" src="~/Nx74C39uZUs.jpg" />
    <div class="canvasright">
        <button type="button" class="btn btn-light canvasbuttons" disabled id="location1">@Html.ActionLink("Хайлиф", "Solution3", "Solutions", null, new { @class = "text-decoration-none" })</button>
        <div class="canvaslog">
            <div class="formsol" id="flex2">
                @foreach (ChatModel chat in ViewBag.Chat)
                {
                    <div class="chatmessage"><span class="chatname">@chat.UserName:</span> @chat.Message</div>
                }
            </div>
        </div>
        <div>
            <input class="textsol" type="text" asp-for="Name" id="flex1" autocomplete="off">
            <input type="range" name="rangeInput" disabled class="form-range" min="0" id="textInput" value="@Model.Temp" >            
            <button type="submit" id="buttonsubmit" style="float:right;" class="btn btn-warning">Отправить</button>
        </div>
        <div class="canvasppl">
            <span class="border-bottom">Игроки в этой локации</span>
            <ul class="canvasppllist">
            @foreach (UserModel country in ViewBag.Users)
            {                
                    <li>@country.Name <span class="classicon" id="@country.Id" disabled="disabled" title="Пол: @country.Sex; Раса: @country.Race; Уровень: @country.CharLevel;">&#936;</span></li>                
            }
                </ul>
        </div>
    </div>
</form>
<script type="text/javascript">
    let inta = parseFloat(document.getElementById("Temp").value);    
    
    initializeClock('textInput');

    document.addEventListener('DOMContentLoaded', function () {
        for (let i = 1; i <= 4; i++) {
            $("#" + i).tooltip({ placement: 'right', html: true });
        }
        let set = document.getElementById("textInput");
        set.setAttribute("max", inta);
        set.style.width = "68%";
    });
</script>